# Python
__pycache__/
*.pyc
.venv/
backend/.env 
# Node
node_modules/
dist/

# Local DB
*.db
Module docs/1fa72df7aa0ec2c11cf0560176311cf6ea5d.pdf
Module docs/10.1.1.87.5703.pdf
Module docs/10.1.1.473.472.pdf
Module docs/A_1011143116306.pdf
Module docs/Adaptive Educational Games - Providing Non-invasive Personalised Learning Experiences.pdf
Module docs/ch18.pdf
Module docs/CS7IS5 - Adaptive Applications - Project Overview (2023-24) - Tagged.pdf
Module docs/1fa72df7aa0ec2c11cf0560176311cf6ea5d.pdf
Module docs/CS7IS5 - Adaptive Applications - Project Overview (2025-26).pdf
Module docs/CS7IS5 - Adaptive Navigation Methods and Techniques - The Basics - Tagged.pdf
Module docs/CS7IS5 - Content Adaptation Methods and Techniques - The Basics - Tagged.pdf
Module docs/CS7IS5 - Personalisation - 80Days Case Study - Tagged.pdf
Module docs/CS7IS5 - Personalisation - ELEKTRA Case Study - Tagged.pdf
Module docs/CS7IS5 - The Narrative Approach to Personalisation - Tagged.pdf
Module docs/CS7IS5 - User Modelling - Discussion 1 - Tagged.pdf
Module docs/CS7IS5 - User Modelling - Discussion 2 - Tagged.pdf
Module docs/CS7IS5 - User Modelling - Format and Vocabulary - Tagged.pdf
Module docs/CS7IS5 - User Modelling - The Basics - Tagged.pdf
Module docs/CS7IS5 - User Modelling - User Control - Tagged.pdf
Module docs/icce2008_ciawes_macarthur.pdf
Module docs/JSISEv1.23_Conlan.pdf
Module docs/LawlessConlan.pdf
Module docs/Stereotypes_Student_Models_and_Scrutability.pdf
Module docs/The Narrative Approach to Personalisation.pdf
.gitignore
